/*===============Seção Tags==================*/

body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Sacramento', cursive;
    line-height: 2;
    font-size: 5.625rem;
    margin: 0 auto;
    color: #66BFBF;
    font-weight: normal;
    margin-bottom: 10px;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    padding-top: 5%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    color: #66BFBF;
}

p {
    line-height: 2;
}

hr {
    border: dotted #000 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

/*===============Seção Tags==================*/

.top-container {
    background-color: #14274e;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px auto;
}

.efeito {
    text-decoration: underline;
}

.celebro-tech-cima {
    position: absolute;
    right: 20%;
    top: 50px;
}

.celebro-tech-baixo {
    position: absolute;
    right: 70%;
    bottom: 1%;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-img {
    width: 25%;
    float: right;
    margin-right: 30px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
    text-align: center;
}

.bottom-container {
    background-color: #394867;
    padding: 50ox 0 20px;
}

.copyright {
    color: #FFF;
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }